*{margin: 0;
padding: 0;}

body {
  font-family: tahoma, arial;
  background-color: #f5f0eb;
}

#headerContent {
      overflow: hidden;
}


video {
    width: 100%;
    height: auto;
    z-index: -1;
}

.billede {
  width: 100%;
    height: auto;
      padding: 0;
        margin-bottom: 2%;
          margin-top: 2%;
}


iframe {
  display: flex;
    align-items: center;
        margin: 0 auto;
            text-decoration: none;
                border: none;
                  max-width: 100%;
                    margin-top: 0.5%;
                      margin-bottom: 0.5%;
}
#quiz {
  margin-bottom: 2%;
}

button {
  background-color: #F37100;
    border: none;
      padding: 1%;
        color: white;
          font-weight: bold;
            font-family: tahoma;
}

.textDiv {
  display: flex;
    justify-content: center;
    text-align: center;
      margin-top: 2%;
        font-size: 200%;
          font-weight: bold;
}

.butnDiv {
  display: flex;
    align-items: center;
      justify-content: center;
}
